/* Generales */

$celeste: #00aff4;
$gris-claro: #ebebeb;
$gris: #5e5e5e;
$gris2: #414141;
$font: 'Roboto', sans-serif;
$hintro: 43rem;

* {
    font-family: $font;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    text-decoration: none;
}

.card {
    margin: 5rem 5rem 5rem 5rem;
    align-content: center;
}

body {
    margin: auto;
}

a {
    color: $celeste;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

th {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
}

.top {
    border-bottom: 0.1rem solid $gris-claro;
}

.intro {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -100px;
    height: $hintro;
}

.intro-acerca-de {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -412px;
    height: $hintro;
}

.intro-social {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: $hintro;
}

.intro-mk {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: $hintro;
}

.intro-google {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: $hintro;
}

.intro-fb {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: $hintro;
}

.intro-contacto {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -70px;
    height: $hintro;
}

.intro-blog {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -150px;
    height: $hintro;
}


$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	height: 15rem;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

.slider h1 {
    text-align: center;
    font-size: 2rem;
}

.blog {
    margin: 0rem 10rem;
}

.texto-intro {
    width: auto;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
    padding: 1rem 10rem 1rem 10rem;

span {
    color: $celeste;
    font-weight: bold;    
}
}

.texto-acerca-de {
    width: 43rem;
    height: 36rem;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
    padding: 3rem 2rem 2rem 2rem;
}

.info-gaston {
    padding: 5rem 3rem 5rem 10rem;
    overflow: hidden;
    height: 15rem;

    h2 {
        color: $celeste;
        font-weight: bold;
        margin-top: 1.5rem;
        padding: 3rem 3rem 1rem 30rem;
    }

    p {
        padding: 0rem 6rem 0rem 35rem;
        font-size: 1.3rem;
        line-height: 1.5;
        color: $gris2;
    }
}

.card {
    width: 25rem;
}

.texto-contacto {
    width: 100%;
    line-height: 1;
    font-weight: 400;
    color: $gris;
    padding: 30px 0px 30px 0px;
}

.estilo-formulario {
    width: 100%;
    margin-left: 250px;
    height: 500px;
}

form {
    margin: 5rem 10rem;
}