/* Generales */

$celeste: #00aff4;
$gris-claro: #ebebeb;
$gris: #5e5e5e;
$gris2: #414141;
$font: 'Roboto', sans-serif;

* {
    font-family: $font;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    text-decoration: none;
}

body {
    margin: auto;
}

a {
    color: $celeste;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

th {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
}

.top {
    border-bottom: 1px solid $gris-claro;
}

.nav-link {
    padding: 0 0 0 0;
}

.intro {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -75px;
    height: 600px;
}

.intro-acerca-de {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -412px;
    height: 600px;
}

.intro-social {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: 600px;
}

.intro-mk {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: 600px;
}

.intro-google {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: 600px;
}

.intro-fb {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -50px;
    height: 600px;
}

.intro-contacto {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -70px;
    height: 600px;
}

.intro-blog {
    text-align: right;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -150px;
    height: 600px;
}

.texto-intro {
    width: auto;
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
    padding: 15px 450px 0px 450px;

span {
    color: $celeste;
    font-weight: bold;    
}
}

.texto-acerca-de {
    width: 700px;
    height: 500px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: $gris;
    padding: 30px 0px 30px 0px;
}

.info-gaston {
    padding: 80px 80px 30px 0px;
    overflow: hidden;
    height: 500px;

    p {
        font-size: 20px;
        line-height: 1.5;
        color: $gris2;
    }
}

.texto-contacto {
    width: 100%;
    line-height: 1;
    font-weight: 400;
    color: $gris;
    padding: 30px 0px 30px 0px;
}

.blog1 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.row {
    padding: 50px 250px 0 250px;
}

.card {
    margin: 1em;
}

.estilo-formulario {
    width: 100%;
    margin-left: 250px;
    height: 500px;
}