/* Imagenes */

.navbar-brand img {
    width: 230px;
}

.d-flex img {
    padding: 0px 5px;
}

.intro {
    background-image: url(../img/g-index-n1.jpg);
}

.intro-acerca-de {
    background-image: url(../img/g-sobremi-n1.jpg);
}

.intro-cursos {
    background-image: url(../img/gaston-cursos.jpg);
}

.intro-contacto {
    background-image: url(../img/g-contacto-n1.jpg);
}

.intro-blog {
    background-image: url(../img/g-blog-n1.jpg);
}

.info-gaston img {
        border-radius: 50%;
        float: left;
        margin-right: 150px;
        border-style: none;
}

.card img {
        width: auto;
        height: auto;
}

.footerR img {
    width: 60px;
}
