/* Imagenes */

.navbar-brand img {
    width: 15rem;
}

.d-flex img {
    padding: 0px 5px;
}

.intro {
    background-image: url(../img/g-index-n1.jpg);
}

.intro-acerca-de {
    background-image: url(../img/g-sobremi-n1.jpg);
}

.intro-cursos {
    background-image: url(../img/gaston-cursos.jpg);
}

.intro-contacto {
    background-image: url(../img/g-contacto-n1.jpg);
}

.intro-blog {
    background-image: url(../img/g-blog-n1.jpg);
}

.info-gaston img {
        border-radius: 50%;
        float: left;
        margin-right: 150px;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
        width: auto;
        height: auto;
}

.footerR img {
    width: 5rem;
}
